.choiceBtn{
    line-height: 30px;
    display: flex;
    animation: shake 1s  ease-in-out .is infinite alternate
    ;

}
#gameDiv{
    font-family: 'Brush Script MI', cursive;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lightgrey;
    text-align: center;

}
#playerText{
    color: blue;
}
#computerText{
    color: red;
}